<app-line-chart [view]="[700, 400]" [data]="(olympics$ | async) || []" [showLegend]="false" [showXAxis]="true"
    [showYAxis]="true" [showXAxisLabel]="true" [showYAxisLabel]="false" [xAxisLabel]="'Date'">

    <h2 class="stat-title">Italy</h2>
    <div class="stat-header">
        <div class="stat-block">
            <div class="stat-block-title">Number of entries</div>
            <span class="stat-value">3</span>
        </div>
        <div class="stat-block">
            <div class="stat-block-title">Total number of medals</div>
            <span class="stat-value">96</span>
        </div>
        <div class="stat-block">
            <div class="stat-block-title">Total number of athletes</div>
            <span class="stat-value">1128</span>
        </div>
    </div>
</app-line-chart>
<div class="menu-links"><a class="link" [routerLink]="['']"><i class="fa-solid fa-circle-chevron-left"></i>Home</a>
</div>