.stat-title {
  background-color: #03838f;
  color: #ffff;
  padding: 5px 10px;
  border-radius: 10px;
}
.stat-header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  @media screen and (max-width: 620px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  .stat-block {
    .stat-block-title {
      color: #676767;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }

    text-align: center;
    border: 2.5px solid #03838f;
    padding: 5px 10px;
    border-radius: 10px;
    .stat-value {
      font-weight: 700;
    }
  }
}
.menu-links {
  text-align: center;
  margin-top: 40px;
  font-size: 1.3rem;
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover,
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      color: #03838f;
    }
    .fa-circle-chevron-left {
      margin-top: 2px;
      margin-right: 3px;
    }
  }
}
