.stat-title {
  background-color: #03838f;
  color: #ffff;
  padding: 5px 10px;
  border-radius: 10px;
}
.stat-header {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  @media screen and (max-width: 400px) {
    flex-direction: column;
    font-size: medium;
  }
  .stat-block {
    .stat-block-title {
      color: #676767;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }

    text-align: center;
    border: 2.5px solid #03838f;
    padding: 5px 10px;
    border-radius: 10px;
    .stat-value {
      font-weight: 700;
    }
  }
}
